{% extends 'base.html' %} {% block title %}Spine Bookshelf{% endblock %} {%
block content %}

<div class="container">
  <h1 class="heading">My Bookshelf</h1>
  <p class="description">
    These are the series in the bookshelf. Non-Series will be Displayed Separately <br>
    You can view the entire bookshelf <a href="{{ url_for('full_shelf', page_num = 1) }}">here</a>
  </p>
  
    {% for key, books in books.items() %}
    {% if books != [] %}
    <section id="{{ key.lower().replace(' ', '') }}"></section>
    <h2 class="heading">Latest in {{ key }}
      <a href="{{ url_for('shelf', page_num = 1, tag = key) }}"
      class="btn btn-outline-primary"
      > See All</a>
    </h2> 
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 mb-5">
      {% for book in books %}
      <div class="col">
      <div class="card h-100 shadow-sm">
        <img src="{{ book.img_url }} " alt="{{ book.title }} Image" class="card-img-top" />
        <div class="card-body">
          <a href="{{url_for('volume_info', volume_id=book.g_volume_id)}}">
            <h6 class="card-title">{{book.title}}</h6>
          </a>
          <p class="card-text"><i class="fas fa-pen-nib"></i> {{ book.author }}</p>
          <p class"text-muted"><i class="fas fa-calendar"></i> {{ book.release_date }} </p>
          {# <p class="text-muted mb-0">{{book.reading_tag}}</p> #}
        </div>
        <div class="card-footer d-flex justify-content-between bg-light">
          {% if book.series_id != "Is not a Series" %}
          <a
            class="btn btn-outline-primary"
            href=" {{ url_for('view_series', series_id=book.series_id) }} "
          >
            View Series
          </a>
          {% endif %}
          <a 
            class="btn btn-outline-primary"
            href="{{ url_for('edit', volume_id=book.g_volume_id) }}">
            <i class="fas fa-edit"></i>
          </a>
        </div>
        

      </div>
    </div>
    {% endfor %}
    </div>
    {% else %}
    {% if key != "Currently Reading" %}
    <h2 class="heading">No Series {{ key }}</h2>
    {% else %}
    <h2 class="heading">No books being Read</h2>
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
  

</div>
{% endblock %}
