{% extends 'base.html' %} {% block title %}Spine Bookshelf{% endblock %} {%
block content %}

<div class="container">
  <h1 class="heading">{{ tag }} Shelf ({{ total_items }})</h1>
  <p class="description">These are all the books that are {{ tag.lower() }}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col-2">Thumbnail</th>
        <th scope="col-6">Title</th>
        <th scope="col-2">Author</th>
        {#
        <th scope="col-2">Reading Status</th>
        #}
      </tr>
    </thead>
    <tbody>
      {% for book in books.items %}
      <tr>
        <th scope="col-2">
          <img src="{{book.img_url}}" alt="book.title" />
        </th>
        <td scope="col-6">
          <a
            href="{{ url_for('volume_info', volume_id=book.g_volume_id) }}"
            class="mb-2"
          >
            {{book.title}}
          </a>
          <br />
          {% if book.series_id != "Is not a Series" %}
          <a
            href="{{ url_for('view_series', series_id=book.series_id) }}"
            class="btn btn-outline-primary mt-2"
          >
            View Series
          </a>
          {% endif %}
          <br />
          <span
            ><i class="fas fa-calendar-alt"></i> Release Date: {{
            book.release_date }}</span
          >
        </td>
        <td scope="col-2">{{book.author}}</td>
        {#
        <td scope="col-2">{{book.reading_tag}}</td>
        #}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <ul class="pagination">
    {% if books.has_prev %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('shelf', page_num=books.prev_num, tag=tag) }}"
        >Previous</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Previous</span>
      {% endif %}
    </li>

    {% for page in books.iter_pages(left_edge=3, right_edge=3) %} {% if page %}
    <li class="page-item">
      <a class="page-link" href="{{ url_for('shelf', page_num=page, tag=tag) }}"
        >{{ page }}</a
      >
    </li>
    {% else %}
    <li class="page-item disabled" id="example_ellipsis">
      <a href="#" class="page-link">…</a>
    </li>
    {% endif %} {% endfor %} {% if books.has_next %}
    <li class="page-item">
      <a
        class="page-link"
        href="{{ url_for('shelf', page_num=books.next_num, tag=tag) }}"
        >Next</a
      >
    </li>
    {% else %}
    <li class="page-item disabled">
      <span class="page-link">Next</span>
      {% endif %}
    </li>
  </ul>
</div>

{% endblock %}
