{% extends 'base.html' %} {% block title %}{{book['title']}}{% endblock %} {%
block content %}
<div class="container">
  <h1 class="heading">{{book['title']}}</h1>
  <h4 class="mx-3">
          <span class="badge {{ data_db['reading_badge'] }}">
            {{ data_db['reading_status'] }}
            </span>
          {# 
          {% if data_db['rating'] != None and data_db['rating'] != "None" %}
          <span class="text-muted">Rating: {{ data_db['rating'] }}</span>
          {% endif %} #}
        </h4>
  <br />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    rel="stylesheet"
  />

  <div class="container">
    <div class="row">
      <!-- Product Images -->

      <div class="col-md-4 col-lg-3 col-xl-2 col-sm-3 col-xs-2 card-container">
        <a href="{{ book['largeImage'] }}" target="_blank">
          <img
            class="img-fluid mx-2"
            src=" {{ book['thumbnail'] }} "
            alt="Click Image for Large Cover"
          />
        </a>
      </div>

      <!-- Book Details -->
      <div class="col-md-4 col-lg-3 col-xl-3 col-sm-4 col-xs-5 card-container">
        <div class="mb-2 align-items-center">
          <span class="text-muted mx-2"><i class="fas fa-pen-nib"></i> Author: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.author }}" />
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book['author'] }}
              <i class="fas fa-search"></i>
            </button>
          </form>
          <span class="text-muted mx-2"><i class="fas fa-building"></i> Publisher: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.publisher }}" />
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book.publisher }}
              <i class="fas fa-search"></i>
            </button>
          </form>
          {% if data_db['series_id'] != "Is not a Series" %}
        <a
          href="{{ url_for('view_series', series_id=data_db['series_id']) }}"
          class="btn btn-outline-primary btn-sm my-2"
          >View Series 
          <i class="fas fa-book-open"></i></a
        >
        {% endif %}
        </div>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 col-sm-5 col-xs-5 card-container">
      <span class="text-muted mb-2"><i class="fas fa-calendar"></i> Dates</span>
        <p class="text-muted mb-2"
          ><i class="fas fa-calendar-day"></i> Published: {{ book['publishedDate'] }}</p
        >
        {% if data_db['start_date'] != "No Data" and
        data_db['start_date'] != "" and data_db['start_date'] != None %}

        <p class="text-muted mb-2">
        <i class="fas fa-calendar-plus"></i> Started: {{ data_db['start_date'] }}
        </p>

        {% endif %} 
        {% if data_db['finish_date'] != "No Data" and
        data_db['finish_date'] != ""  and data_db['finish_date'] != None%}

        <p class="text-muted mb-2">
        <i class="fas fa-calendar-check"></i> Finished: {{data_db['finish_date']}}
        </p>

        {% endif %}
      </div>
      

      <h2 class="heading my-2">Synopsis:</h2>
      <p class="mb-4 mx-2">{{ book['description'] }}</p>
      {% if data_db['review'] == "No Data" or data_db['review'] == "" or
      data_db['review'] == "No Review Yet"%} {% else %}
      <h2 class="heading mb-2">Review:</h2>
      <p class="mb-4">{{ data_db['review'] }}</p>
      {% endif %}
      <!-- Actions -->
      <h5 class="heading">Actions</h5>
      <div class="d-grid gap-2">
        {% if data_db['reading_status'] != "Not In Library" %}
        <a
          class="btn btn-primary"
          href="{{ url_for('edit', volume_id=book.volume_id) }}"
        >
          Edit
        </a>
        {% else %}
        <div class="d-flex">
          <a
            class="btn btn-primary flex-grow-1"
            href="{{ url_for('add', volume_id=book.volume_id, shelf = 'Currently Reading') }}"
          >
            <i class="fas fa-plus-circle me-2"></i>
            <span class="text-center">Currently Reading</span>
          </a>
          <a
            class="btn btn-primary flex-grow-1"
            href="{{ url_for('add', volume_id=book.volume_id, shelf = 'To Read') }}"
          >
            <i class="fas fa-plus-circle me-2"></i>
            <span class="text-center">To Read</span>
          </a>
          <a
            class="btn btn-primary flex-grow-1"
            href="{{ url_for('add', volume_id=book.volume_id, shelf = 'Completed') }}"
          >
            <i class="fas fa-plus-circle me-2"></i>
            <span class="text-center">Completed</span>
          </a>
        </div>
        {% endif %}
        <a
          class="btn btn-outline-secondary"
          href="https://nyaa.si/?f=0&c=3_1&q={{ book['searchTitle'] }}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <i class="fas fa-download"></i> Search Nyaa Torrents
        </a>
      </div>
      <!-- Torrents -->

      <!-- Delete -->
      {% if data_db['reading_status'] != "Not In Library" %}
      <hr />
      <h5 class="heading">Danger Zone</h5>
      <p class="text-muted mb-2">This will not ask again</p>
      <div class="d-grid gap-2">
        <a
          class="btn btn-danger"
          href="{{ url_for('delete', volume_id=book.volume_id) }}"
        >
          Delete
        </a>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
