{% extends 'base.html' %} {% block title %}{{book['title']}}{% endblock %} {% block
content %}
<div class="container">
  <h1 class="heading">Book Info</h1>
  <br />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    rel="stylesheet"
  />

  <div class="container py-5">
    <div class="row">
      <!-- Product Images -->
    
        <div class="col-md-2 mb-4">
            <a href="{{ book['largeImage'] }}" target="_blank">
            <img class="img-fluid" src=" {{ book['thumbnail'] }} " alt="Click Image for Large Cover"/>
            </a>

        </div>


      <!-- Book Details -->
      <div class="col-md-10 card-container">
        <h1 class="h2 mb-2">{{book['title']}}</h1>
        <div class="mb-2 d-flex align-items-center">
          <span class="text-muted me-2">Author: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.author }}">
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book['author'] }}
              <i class="fas fa-search"></i> 
            </button>
          </form>
          <span class="text-muted mx-2">Publisher: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.publisher }}">
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book.publisher }}
              <i class="fas fa-search"></i> 
            </button>
          </form>
        </div>
        <span class="text-muted mb-2">Released: {{ book['publishedDate'] }}</span>
        <br>
        {% if book['ISBN10'] %}
        
        <span class="text-muted mb-2">ISBN 10: 
        <a href="https://isbnsearch.org/isbn/{{ book['ISBN10'] }}" target="_blank">
        {{ book['ISBN10'] }}</a></span>
        
        {% endif %}
        {% if book.ISBN13 %}
        <span class="text-muted mb-2">ISBN 13: 
        <a href="https://isbnsearch.org/isbn/{{ book.ISBN13 }}" target="_blank">
        {{ book['ISBN13'] }}
        </a></span>
        
        {% endif %}
        
      </div>

        <h2 class = "h3 mb-2">
        Synopsis:
        </h2>
        <p class="mb-4">
          {{ book['description'] }}
        </p>
        
        

        <!-- Actions -->
        <div class="d-grid gap-2">
          <a class="btn btn-primary" href="{{ url_for('add', volume_id=book.volume_id) }}">Add to Library</a>
          <a class="btn btn-outline-secondary"
          href="https://nyaa.si/?f=0&c=3_1&q={{ book['searchTitle'] }}" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-download"></i> Search Torrents
          </a>
        </div>
        <!-- Torrents -->

        
      </div>
    </div>
  </div>
</div>
{% endblock %}
