{% extends 'base.html' %} {% block title %}{{book['title']}}{% endblock %} {% block
content %}
<div class="container">
  <h1 class="heading">Book Info</h1>
  <br />
  <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    rel="stylesheet"
  />

  <div class="container py-5">
    <div class="row">
      <!-- Product Images -->
    
        <div class="col-md-2 mb-4">
            <a href="{{ book['largeImage'] }}" target="_blank">
            <img class="img-fluid" src=" {{ book['thumbnail'] }} " alt="Click Image for Large Cover"/>
            </a>

        </div>


      <!-- Book Details -->
      <div class="col-md-10 card-container">
        <h1 class="h2 mb-2">{{book['title']}} 
        </h1>
        <h5><span class="badge {{ data_db['reading_badge'] }}">{{ data_db['reading_status'] }}</span></h5>
        <span class="text-muted mb-2">Read Time: 4 Hours 20 Minutes |</span>
        <span class="text-muted mb-2">Started: 2025-02-20 |</span>
        <span class="text-muted mb-2">Finished: 2025-02-21</span>
        <div class="mb-2 d-flex align-items-center">
          <span class="text-muted me-2">Author: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.author }}">
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book['author'] }}
              <i class="fas fa-search"></i> 
            </button>
          </form>
          <span class="text-muted mx-2">Publisher: </span>
          <form action="{{ url_for('search', page =1) }}" method="POST">
            <input type="hidden" name="query" value="{{ book.publisher }}">
            <button type="submit" class="btn btn-outline-primary btn-sm">
              {{ book.publisher }}
              <i class="fas fa-search"></i> 
            </button>
          </form>
        </div>
        <span class="text-muted mb-2">Released: {{ book['publishedDate'] }}</span>
        <br>
        {% if data_db['series_id'] != "Is not a Series" %}
        <a href="{{ url_for('view_series', series_id=data_db['series_id']) }}" 
        class="btn btn-outline-primary btn-sm">View Series</a>
        {% endif %}
        
      </div>

        <h2 class = "h3 mb-2">
        Synopsis:
        </h2>
        <p class="mb-4">
          {{ book['description'] }}
        </p>
        
        

        <!-- Actions -->
        <div class="d-grid gap-2">
          <div class="d-flex">
            <a
              class="btn btn-primary flex-grow-1"
              href="{{ url_for('add', volume_id=book.volume_id, shelf = 'Currently Reading') }}"
              target="_blank"
            >
              <i class="fas fa-plus-circle me-2"></i>
              <span class="text-center">Currently Reading</span>
            </a>
            <a
              class="btn btn-primary flex-grow-1"
              href="{{ url_for('add', volume_id=book.volume_id, shelf = 'To Read') }}"
              target="_blank"
            >
              <i class="fas fa-plus-circle me-2"></i>
              <span class="text-center">To Read</span>
            </a>
            <a
              class="btn btn-primary flex-grow-1"
              href="{{ url_for('add', volume_id=book.volume_id, shelf = 'Completed') }}"
              target="_blank"
            >
              <i class="fas fa-plus-circle me-2"></i>
              <span class="text-center">Completed</span>
            </a>
          </div>
          <a class="btn btn-outline-secondary"
          href="https://nyaa.si/?f=0&c=3_1&q={{ book['searchTitle'] }}" target="_blank" rel="noopener noreferrer">
            <i class="fas fa-download"></i> Search Nyaa Torrents
          </a>
        </div>
        <!-- Torrents -->

        
      </div>
    </div>
  </div>
</div>
{% endblock %}
